In [16]:
import pandas as pd
import numpy as np

In [2]:
index_names = ['User'+str(x) for x in range(5)]
movie_names = ['Star Trek','Interstellar','Inception','Silver Linings Playbook','The Perks of Being a Wallflower']
times = ['Morning','Afternoon','Evening','Night']

In [12]:
time2id = {v:k for k,v in enumerate(times)}
id2time = {k:v for k,v in enumerate(times)}

In [70]:
index2id = {v:k for k,v in enumerate(index_names)}
id2index = {k:v for k,v in enumerate(index_names)}

In [71]:
movie2id = {v:k for k,v in enumerate(movie_names)}
id2movie = {k:v for k,v in enumerate(movie_names)}

In [72]:
id2time

{0: 'Morning', 1: 'Afternoon', 2: 'Evening', 3: 'Night'}

In [73]:
movie2id

{'Inception': 2,
 'Interstellar': 1,
 'Silver Linings Playbook': 3,
 'Star Trek': 0,
 'The Perks of Being a Wallflower': 4}

In [75]:
index2id

{'User0': 0, 'User1': 1, 'User2': 2, 'User3': 3, 'User4': 4}

In [3]:
dataset = pd.DataFrame(index=index_names,columns=movie_names)
dataset = dataset.fillna(0)

In [4]:
dataset.loc['User1']['Star Trek'] = 5
dataset.loc['User1']['Inception'] = 3
dataset.loc['User2']['Interstellar'] = 3
dataset.loc['User2']['Inception'] = 4
dataset.loc['User3']['Interstellar'] = 3
dataset.loc['User3']['Inception'] = 4
dataset.loc['User3']['Star Trek'] = 5
dataset.loc['User0']['Silver Linings Playbook'] = 5
dataset.loc['User0']['The Perks of Being a Wallflower'] = 3
dataset.loc['User0']['Star Trek'] = 3
dataset.loc['User4']['Silver Linings Playbook'] = 4
dataset.loc['User4']['The Perks of Being a Wallflower'] = 5

In [5]:
dataset

,Star Trek,Interstellar,Inception,Silver Linings Playbook,The Perks of Being a Wallflower
User0,3,0,0,5,3
User1,5,0,3,0,0
User2,0,3,4,0,0
User3,5,3,4,0,0
User4,0,0,0,4,5

In [76]:
user_to_pref_time = {"User1":time2id["Evening"],
                     "User2":time2id["Night"],
                     "User3":time2id["Evening"],
                     "User4":time2id["Afternoon"],
                     "User0":time2id["Morning"]}

In [77]:
user_to_pref_time

{'User0': 0, 'User1': 2, 'User2': 3, 'User3': 2, 'User4': 1}

In [ ]:
main_tensor = np.zeros((5,5,4))
for i in xrange(5):
    for j in xrange(5):
        for k in xrange(4):
            user_id = 
            main_tensor[i,j,k] =