In [1]:
import pandas as pd

In [5]:
index_names = ['User'+str(x) for x in range(5)]
movie_names = ['Star Trek','Interstellar','Inception','Silver Linings Playbook','The Perks of Being a Wallflower']

In [10]:
dataset = pd.DataFrame(index=index_names,columns=movie_names)
dataset = dataset.fillna(0)

In [11]:
dataset

,Star Trek,Interstellar,Inception,Silver Linings Playbook,The Perks of Being a Wallflower
User0,0,0,0,0,0
User1,0,0,0,0,0
User2,0,0,0,0,0
User3,0,0,0,0,0
User4,0,0,0,0,0

In [20]:
dataset.loc['User1']['Star Trek'] = 5
dataset.loc['User1']['Inception'] = 3

In [21]:
dataset.loc['User2']['Interstellar'] = 3
dataset.loc['User2']['Inception'] = 4

In [22]:
dataset.loc['User3']['Interstellar'] = 3
dataset.loc['User3']['Inception'] = 4
dataset.loc['User3']['Star Trek'] = 5

In [24]:
dataset.loc['User0']['Silver Linings Playbook'] = 5
dataset.loc['User0']['The Perks of Being a Wallflower'] = 3
dataset.loc['User0']['Star Trek'] = 3

In [25]:
dataset.loc['User4']['Silver Linings Playbook'] = 4
dataset.loc['User4']['The Perks of Being a Wallflower'] = 5

In [26]:
dataset

,Star Trek,Interstellar,Inception,Silver Linings Playbook,The Perks of Being a Wallflower
User0,3,0,0,5,3
User1,5,0,3,0,0
User2,0,3,4,0,0
User3,5,3,4,0,0
User4,0,0,0,4,5

In [27]:
from sklearn.decomposition import NMF

In [28]:
nmf = NMF(n_components=2)

In [29]:
nmf.fit(dataset.values)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
  n_components=2, random_state=None, shuffle=False, solver='cd',
  tol=0.0001, verbose=0)

In [30]:
W = nmf.transform(dataset.values)

In [31]:
H = nmf.components_

In [34]:
pd.DataFrame(W,index=index_names)

              0         1
User0  0.411741  2.119602
User1  1.576411  0.074996
User2  1.046153  0.000000
User3  2.071884  0.006076
User4  0.000000  2.206079

In [35]:
H

array([[2.36343458, 1.16318751, 2.13900404, 0.        , 0.        ],
       [0.46899655, 0.        , 0.        , 2.07389266, 1.8568003 ]])

In [36]:
pd.DataFrame(H,columns=movie_names)

,Star Trek,Interstellar,Inception,Silver Linings Playbook,The Perks of Being a Wallflower
0,2.363435,1.163188,2.139004,0.000000,0.0000
1,0.468997,0.000000,0.000000,2.073893,1.8568